* {
	outline: 1px solid black;
}

body {
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;

	display: grid;
	place-items: center;
}

.btn-green {
    background-color: #59C18B;
    border-color: #59C18B;
    color: #fff;
    transition: transform 0.3s ease;
}

.btn-green:hover {
    background-color: #039349;
    border-color: #039349;
    transform: scale(1.05);
}

.btn-green:active {
	background-color: #039349 !important;
    border-color: #039349 !important;
	transform: scale(0.95); /* 클릭할 때 살짝 작아지는 효과 */
    transition: transform 0.1s;
}

.btn-black {
    /*background-color: #000000;*/
    background-color: #fff;
    border-color: #000000;
	transition: all 0.3s ease;
    color: #fff;
}

.btn-black:hover {
    background-color: #333333; /* 호버 상태 색상 */
    border-color: #333333;
	transform: scale(1.05);
    color: #fff;
}

.bg-desert {
	background-color: #F9E1BB;
    border-color: #F9E1BB;
	color: #fff;
}

.left-panel {
	height: 100vh;
	overflow-y: auto;
}

.item-button {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	transition: transform 0.3s ease;
}

.item-button:hover {
	transform: scale(1.05);
}

.item-button:active {
    transform: scale(0.95); /* 클릭할 때 살짝 작아지는 효과 */
    transition: transform 0.1s;
}

.friend-item {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	transition: transform 0.3s ease;
}

.friend-item:hover {
	background-color: #5975c1; /* 호버 상태 색상 */
    border-color: #5975c1;
}

.friend-item:active {
    transform: scale(0.95); /* 클릭할 때 살짝 작아지는 효과 */
    transition: transform 0.1s;
}

.auth-input {
    width: 7vw;  /* 가로 크기 */
    height: 5vh; /* 세로 크기 */
    font-size: max(16px, 2vw); /* 글자 크기 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: 2px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    outline: none; /* 포커스 효과 제거 */
    background-color: white;
    box-sizing: border-box; /* 패딩 포함하여 크기 유지 */
    padding: 0;

    max-width: 80px;
    max-height: 80px;
    min-width: 40px;
    min-height: 40px;
}

.auth-input:focus {
    border-color: #007bff; /* 포커스 시 테두리 색 변경 */
}

#auth-container {
    display: flex;
    gap: 3vw; /* 입력칸 사이 간격 */
    justify-content: center; /* 가운데 정렬 */
}

#match-records {
    max-height: 84vh;
}

#match-record {
	outline: 1px solid black;
}
